.main {
    padding: 60px 0px 10px;;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h4{
    text-align: center;
    color: #030B34;
}
.h3{
    text-align: center;
    color: #030B34;
}
.main h5{
    text-align: center;
}
.main span{
    display: inline-flex;
    text-shadow: 10px 10px 15px #999999;
}

@media (max-width: 576px) {
    .separator{
        padding-top: 1rem;
    }
}
