.main {
    padding: 60px 0px 10px;;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main h4,
.main h3{
    text-align: center;
    color: #030B34;
}
.main img{
    object-fit: cover;
}
.bor img{
    border-radius: 100%;
    display: block;
    margin: 50px auto;
}
.main span{
    display: inline-flex;
    text-shadow: 10px 10px 15px #999999;
}

.align{
    text-align: justify;
}

@media (max-width: 576px) {
    .separator{
        padding-top: 1rem;
    }
}
